@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
.container-fluid{
        max-width: 1200px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
}
.skills-description--section{
  width: 980px !important;
}

.spin{
  animation: spin 100s linear infinite;
}
.spin2{
  animation: spin2 100s linear infinite;
}

@keyframes spin{
  0% {
    transform: rotate(0deg);
    transform-origin: center;
    transform-box: fill-box;
}
100% {
  transform: rotate(360deg);
  transform-origin: center;
  transform-box: fill-box;
}
}

@keyframes spin2{
  0% {
    transform: rotate(0deg);
    transform-origin: center;
    transform-box: fill-box;
}
100% {
  transform: rotate(-360deg);
  transform-origin: center;
  transform-box: fill-box;
}
}

@media screen and(max-width:1200px) {
  .container-fluid{
    max-width: 100%;
  }
}