@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
.container-fluid{
        max-width: 1200px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
}

@media screen and(max-width:1200px) {
  .container-fluid{
    max-width: 100%;
  }
}